{% extends 'student_template/base_template.html' %}
{% block page_title %}
{{course}}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">  
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ subjects }}</h3>
                <p>Total Subjects</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">&nbsp;</a>
            </div>
          </div>
              </div>

<div class="row">
              <div class="col-lg-6">
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Subject Name</h3>
                        </br>
                                  {% if subject_name %}
                                  {% for subject in subject_name %}
                                  <li> {{ subject.subject_name}} <a href="{% url 'student_takeExam' subject.id %}">Take Exam </a></li>
                                  {% endfor %}
                                  </ol>
                                  {% else %}
                                  <strong>There are no such available subjects!</strong>
                                  {% endif %}
                        
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
          <!-- ./col -->
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

